<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="amqpUri">{{ ssepush_amqp_uri }}</entry>
    <entry key="heartbeatIntervalSec">{{ ssepush_heartbeat_interval_sec }}</entry>
    <entry key="hazelcastConfig">file:/etc/ssepush/hazelcastConfig.xml</entry>
</properties>
