system:
  type: {{ cloudfn_system_type }}

  # 課金（APIカウント）を迂回するためのキー
  noChargeKey: {{ cloudfn_system_no_charge_key }}

usercode:
  # ユーザコードを展開するベースディレクトリ
  host_root_dir: {{ cloudfn_usercode_dir }}

amqp:
  # AMQP URI
  uri: {{ cloudfn_amqp_uri }}

docker:
  # Docker URI
  uri: {{ cloudfn_docker_uri }}

spec:
{% if cloudfn_system_type == "docker" %}
  node:
    repoTag: necbaas/node-logic-server:8
    cmd: {{ cloudfn_docker_node_cmd }}
    volume: {{ cloudfn_node_server_dir }}/package

  node6:
    repoTag: necbaas/node-logic-server:6
    cmd: {{ cloudfn_docker_node_cmd }}
    volume: {{ cloudfn_node_server_dir }}/package

  node8:
    repoTag: necbaas/node-logic-server:8
    cmd: {{ cloudfn_docker_node_cmd }}
    volume: {{ cloudfn_node_server_dir }}/package

  node10:
    repoTag: necbaas/node-logic-server:10
    cmd: {{ cloudfn_docker_node_cmd }}
    volume: {{ cloudfn_node_server_dir }}/package

  java:
    repoTag: necbaas/java-logic-server:8
    cmd: {{ cloudfn_docker_java_cmd }}
    volume: {{ cloudfn_java_server_dir }}

  java8:
    repoTag: necbaas/java-logic-server:8
    cmd: {{ cloudfn_docker_java_cmd }}
    volume: {{ cloudfn_java_server_dir }}

  java11:
    repoTag: necbaas/java-logic-server:11
    cmd: {{ cloudfn_docker_java_cmd }}
    volume: {{ cloudfn_java_server_dir }}

{% elif cloudfn_system_type == "direct" %}
  node:
    cmd: node {{ cloudfn_node_server_dir }}/package/bin/server.js

  java:
    cmd: java -jar {{ cloudfn_java_server_dir }}/cloudfn-java-server.jar

{% endif %}
