# ログレベル
logback.level=INFO

# ログ出力タイプ
logback.types=STDOUT,FILE
#logback.types=STDOUT,FILE,FLUENT

# ログ出力ディレクトリ
logback.logdir=/var/log/baas

# fluentd 設定
#logback.fluent.host=localhost
#logback.fluent.port=24224

